* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* estilizando elementos do header */

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: black;
    padding: 10px;
}

.search img {
    width: 100px;
}

.buscar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.buscar input {
    border-radius: 20px;
    padding: 1rem;
    width: 50rem;
    border: 1px solid white;
    background-color: black;
    color: white;
}

.buscar input::placeholder {
    color: white;
}

.buscar svg {
    color: white;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

#user {
    color: white;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: 10px;
}

/* BARRA LATERAL */

.sidebar {
  background-color: #ffffff;
  color: white;
  height: 100vh;
  width: 80px;
  transition: width 0.3s ease;
  overflow: hidden;
  border: 1px solid black;
}

.sidebar.expanded {
  width: 220px;
}

.toggle-btn {
  background-color: #333;
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.toggle-btn svg {
  margin-right: 15px;
}

.toggle-btn span {
  white-space: nowrap;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 9px;
}

.menu li {
  width: 100%;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #000000;
  color: white;
}

.menu svg {
  min-width: 20px;
  margin: 0 15px;
  width: 35px;
  height: 35px;
}

.menu span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.expanded .menu span {
  opacity: 1;
}

/* estilizando elementos da main  */

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.conteudo_notas {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.criacao_de_notas {
    width: 44rem;
    align-items: center;
}


.criar-nota {
    display: flex;
    height: 4rem;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 16px;
}

.criar-nota input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    flex: 1;
    margin-right: 8px;
}

.criar-nota button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.nota {
    width: 250px;
    height: 200px;
    margin: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border: 1px solid #0099ff; /* contorno azul */
  }
  
  .nota:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .nota h4 {
    font-size: 1.5rem;
    color: #999;
    margin: 0 0 20px 0;
    font-weight: normal;
  }
  
  .nota p {
    color: #999;
    font-size: 1.2rem;
    margin: 0;
    flex-grow: 1;
  }
  
  .icones {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 10px;
  }
  
  .icones button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #aaa;
    cursor: pointer;
    padding: 4px;
    transition: color 0.2s ease;
  }
  
  .icones button:hover {
    color: #333;
  }

  .popup {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .conteudo {
    background: white;
    border-radius: 10px;
    padding: 1rem;
    width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .titulo-input {
    padding: 0.7rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .texto-input {
    padding: 1rem;
    height: 200px;
    font-size: 1.1rem;
    border: 2px solid #2196F3;
    border-radius: 6px;
    resize: none;
  }
  
  .texto-input::placeholder,
  .titulo-input::placeholder {
    font-size: 1.2rem;
    color: #aaa;
  }
  
  .linha-icones {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
    align-items: center;
  }
  
  .icone {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .botao1 {
    background-image: url('URL_DO_ICONE_1');
  }
  .botao2 {
    background-image: url('URL_DO_ICONE_2');
  }
  .botao3 {
    background-image: url('URL_DO_ICONE_3');
  }

  
  .footer-form {
    display: flex;
    justify-content: flex-end;
  }
  
  .salvar-botao {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1rem;
    cursor: pointer;
  }
  

.popup .conteudo {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    min-width: 240px;
    text-align: center;
}

/* Estilização da tela das pastas */

.folder-container {
  flex: 1;
  padding: 20px;
}

.new-folder {
  margin-left: 700px;
  margin-bottom: 30px;
}

.input-folder {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.input-folder input {
  flex: 1;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 10px;
}

.input-folder button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgb(151, 151, 151);
}

.content-folder {
  padding: 0 20px;
}

.content-folder h1 {
  color: #8f8f8f;
  font-size: 20px;
}

.content-folder hr {
  border: none;
  border-bottom: 3px solid rgba(168, 168, 168, 0.384);
  margin-bottom: 20px;
}

.grid-folder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.folder {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;
}

.folder svg {
  cursor: pointer;
  width: 80px;
  height: 80px;
  color: #00000079;
}

.folder span {
  color: #575757d0;
  cursor: default;
  font-weight: 550;
}

.folder svg:hover {
  color: #000000;
}

/* Estilização da tela das notificações */

.bell-container {
  flex: 1;
  padding: 20px;
}

.new-bell {
  margin-left: 650px;
  margin-bottom: 30px;
}

.input-bell {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.input-bell input {
  flex: 1;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 10px;
}

.input-bell button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgb(151, 151, 151);
}

.content-bell {
  padding: 0 20px;
}

.content-bell h1 {
  color: #8f8f8f;
  font-size: 20px;
}

.content-bell hr {
  border: none;
  border-bottom: 3px solid rgba(168, 168, 168, 0.384);
  margin-bottom: 20px;
}

.grid-bell {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.bell {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.158);
  width: 300px;
  height: 260px;
  border-radius: 15px;
}

.bell h3 {
  margin-bottom: 10px;
  color: rgb(131, 131, 131);
}

.bell p {
  margin-bottom: 10px;
}

.bell input {
  margin-left: 29px;
  border: none;
  background-color: rgba(131, 131, 131, 0.274);
  border-radius: 45px;
  padding: 7px;
}

.bell button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0, 3s ease;
  background-color: white;
  border: none;
  border-radius: 3px;
}

.bell button:hover {
  background-color: #000000;
}

.bell svg{
  width: 20px;
  height: 20px;
}

.bell svg:hover {
  color: white;
}